@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");

/* font-family: 'Montserrat', sans-serif; */

:root {
  --montserrat: "Montserrat", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 1024px;
  gap: 40px;
  margin-bottom: 50px;
}

.profilepic > img {
  height: 120px;
  width: 120px;
  border-radius: 12px;
  margin-bottom: 10px;
}
.profileContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.profilePictureCont {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  height: 230px;
  width: 300px;
  justify-content: center;
  align-items: center;
}
.name,
.place,
.numbers,
.statsName {
  font-family: var(--montserrat);
  font-weight: 600;
}
.name {
  color: #4e5150;
  font-size: 22px;
  margin-top: 5px;
}

.place {
  font-size: 12px;
  color: #a9a9a9;
  margin-top: 1px;
}
.numbers {
  font-size: 12px;
  color: #4e5150;
  font-weight: 600;
}
.statsName {
  font-size: 10px;
  color: #bdbdbd;
  font-weight: 600;
}

.statsContainer {
  display: flex;
  flex-direction: row;
  gap: 14px;
}
.stats {
  display: flex;
  flex-direction: column;
  background-color: #e5e5e5;
  height: 50px;
  width: 70px;

  justify-content: center;
  align-items: center;
  border-radius: 8px;
  line-height: 1rem;
}

.galleryContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 20px;
  height: 600px;
  width: 600px;
  margin-left: -10px;
}
img {
  border-radius: 12px;
}
.img1 {
  grid-column: 1/2;
  grid-row: 1/2;
}
.img2 {
  grid-column: 2 / span 2;
  grid-row: 1/2;
}
.img3 {
  grid-column: 1 / span 2;
  grid-row: 2/3;
}
.img4 {
  grid-column: 3/4;
  grid-row: 2 / 4;
  height: 100%;
  width: 100%;
}
.img6 {
  grid-column: 1/2;
  grid-row: 3/4;
}
.img5 {
  grid-column: 2/3;
  grid-row: 3/4;
}
a {
  text-decoration: none;
  color: #b9bdcf;
}
footer {
  font-family: var(--montserrat);
  font-weight: 500;
  color: #b9bdcf;
  font-size: 12px;
}
.foocontainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .wrapper {
    margin-top: 30px;
  }
  .galleryContainer {
    width: 360px;
    height: 360px;
    grid-gap: 10px;
  }
}
